$gold: #FFDC23;
$black: #36454F;
$emerald: #50C878;
$dark-green: #023020;
$white: #f6f6f6;
$gray: #c4c4c4;
$gold-hover: #e7ca37;

$XXL-breakpoint: 1200px;
$XL-breakpoint: 1055px;
$L-breakpoint: 820px;
$M-breakpoint: 700px;
$S-breakpoint: 550px;

//#FFC000   <-- golden yellow
//#F4BB44	<-- mango
//#36454F	<-- charcoal
//#023020	<-- dark green
//#50C878	<-- emerald
//#5F8575	<-- pale green